[submodule "src/native-exceptions/CLI11"]
	path = src/native-exceptions/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "src/native-exceptions/crashpad"]
	path = src/native-exceptions/crashpad
	url = https://github.com/backtrace-labs/crashpad.git
